ip: "192.168.0.101"
username: "username"
webroot: "/Users/username/dev/www/"
private_key: "/Users/username/.ssh/id_rsa"
public_key: "/Users/username/.ssh/id_rsa.pub"
db_password: "password"
runlist: ["lamp"]